name: batch
services:
  cron-runner:
    image: cron-runner        # the final image name
    build: .
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/compose
      - ./cron-config.yml:/app/cron-config.yml
    working_dir: /compose
    environment:
      CONFIG_FILE: /app/cron-config.yml
    profiles: ["runner"]

  app1:
    image: hello-world
    container_name: hello-app1
  app2:
    image: hello-world
    container_name: hello-app2
